@page "/"

<h2 class="pt-2">@text</h2>

<DxModalPopup @ref="popup" ShowCloseButton="true" />

<DxButton Text="Show modal with parameter"
          Click="@(async () => {
            text = "Modal with parameter button is opened!";
            await popup!.ShowModal<ComponentWithCloseButton>(new() {
                { nameof(ComponentWithCloseButton.DemoText), "Modal Content" }
            });
            text = "Modal with parameter was closed!";
          })">
</DxButton>

@code {
    string text = "DxModalPopup demo";
    DxModalPopup? popup;
}