@page "/"
@inject IDxModalPopupService Modal

<h2 class="pt-2">@text</h2>

<DxButton Text="Show a modal with parameter"
          Click="@(async () => {
            text = "Modal with parameter button is opened!";
            await Modal.ShowModal<ComponentWithCloseButton>(new() {
                { nameof(ComponentWithCloseButton.DemoText), "Modal Content" }
            });
            text = "Modal with parameter was closed!";
          })">
</DxButton>

@code {
    string text = "Modal Popup";
}